@import "tailwindcss";

/* .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(https://dropedition.com/images/hero5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text clipped to show background through letters */

h1 {
  font-size: 20rem;  
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



.blur-div{
    
}

.btn{
    height: 100vh;
    width: 100%;
}

.slider {
  cursor: url('/arrow-right.svg') 16 16, pointer;
  
}

/* .curtedimg-1 img:hover{
  scale: 100%;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
} */

.mordern-text{
  font-weight: 100;
  font-family: sans-serif;
}